:host {
    display: block;

    .display-none {
        display: none !important;
    }

    .label {
        margin-bottom: var(--wcs-base-margin);
        font-weight: 500;
        font-size: 16px;
        color: var(--wcs-gray-light);
    }

    .edit-container {
        display: flex;
        width: 100%;
    }

    .display-container {
        wcs-mat-icon {
            display: none;
        }
        min-height: 24px;
        white-space: break-spaces;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--wcs-light);
        border-radius: var(--wcs-border-radius);
        font-size: 1rem;
        line-height: 1.5;
        font-weight: 500;
        color: var(--wcs-gray);
        padding: calc(calc(var(--wcs-padding) / 2) - 1px) calc(var(--wcs-padding) - 2px);
        transition: 0.175s all;
        border: solid 2px transparent;
    }

    .load-container {
        white-space: pre;
        display: flex;
        justify-content: space-between;
        background-color: var(--wcs-light);
        border-radius: var(--wcs-border-radius);
        font-size: 1rem;
        line-height: 1.5;
        font-weight: 500;
        color: var(--wcs-gray);
        padding: calc(calc(var(--wcs-padding) / 2) - 1px) calc(var(--wcs-padding) - 2px);
        transition: 0.175s all;
        border: solid 2px transparent;
        align-items: center;
    }

    wcs-spinner {
        height: 24px;
        width: 24px;
    }

    .readonly-icon {
        fill: var(--wcs-text-medium);
    }
}

:host([readonly]) {
    .display-container {
        color: var(--wcs-gray-light);
    }
}

:host(:not([readonly])) {
    .display-container:hover {
        wcs-mat-icon {
            display: flex;
            align-items: center;
        }
        color: var(--wcs-primary);
        cursor: pointer;
        border: dashed 2px var(--wcs-primary);
    }
}
