@import 'colors.scss';
@import 'overlay.scss';
@import 'tooltip.scss';
@import "~tippy.js/dist/tippy.css"; // For tooltip component

:root {
    // TODO: prefix all variables and make their name according to the real palette
    --wcs-white: #ffffff;
    --wcs-light: #f2f2f2;
    --wcs-gray-light: #4d4f53;
    --wcs-gray: #333;
    --wcs-gray-dark: #343a40;
    --wcs-gray-darker: #212529;
    --wcs-black: black;

    --wcs-text-light: #d7d7d7;
    --wcs-text-disabled: #b9b9b9;
    --wcs-text-medium: #747678;

    --wcs-blue: #0088CE;
    --wcs-purple: #6e1e78;
    --wcs-pink: #a1006b;
    --wcs-red: #cd0037;
    --wcs-orange: #e05206;
    --wcs-yellow: #ffb612;
    --wcs-green: #82be00;
    --wcs-teal: #d2e100;
    --wcs-cyan: #009aa6;

    --wcs-primary: var(--wcs-blue);
    // Default base and contrast color
    --wcs-base: var(--wcs-primary);
    --wcs-contrast: var(--wcs-white);

    // FONT
    --wcs-font-sans-serif: Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --wcs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --wcs-font-weight-form-value: 500;

    // Sizes
    --wcs-base-size: 8px;
    --wcs-border-radius: var(--wcs-base-size);
    --wcs-padding: calc(2 * var(--wcs-base-size));
    --wcs-base-margin: var(--wcs-base-size);
    --wcs-text-padding: var(--wcs-base-size);
    --wcs-com-content-max-width: 1024px;
    // TODO: Should be moved in wcs-tabs
    --wcs-tabs-headers-border-bottom: 1px solid #ebebeb;
}

body {
    font-weight: 400;
    font-family: var(--wcs-font-sans-serif);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button,
textarea,
select {
    font: inherit;
}

::placeholder {
    color: var(--wcs-text-medium);
    opacity: 1;
    font-weight: normal;
    font-style: italic;
}

